* {box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}
body{display: flex;
    justify-content: space-around;
    flex-wrap: wrap;}
    
header {
    width: 100%;
}
/*barre noire header*/

header > section {
    height: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: black;
    color: white;
}
/*lien en blanc*/
section > a{
    color:white;
}
/*barre de recherche*/
input { width: 20vw;
margin-left: 350px;}

nav  {
    display: flex;
    justify-content:flex-end;
    
}
.pos {
height: 2vh;
width: 2vw;
padding: 0 5px
}

a{ text-decoration: none;

}
.logo {
    width: 12vw;
    height: 6vh;
    object-fit: cover;
}
.position.lettre.coeur{
    width: 5vw;
    height: 5vh;
    }
.menu1 {
    display: flex;
    justify-content: space-around;
}

.mini {
width: 7vw;
height: 4vh;}

.contenant {
    position: relative;
    text-align: center;
  }
  /*texte à l'int de l'image entete*/
  .texte_centrer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 40px;
    display: flex;
  }

.entete {
background: url('./salon.jpg') no-repeat center center/cover;

width: 80vw;  height: 50vh;
margin:30px 30px;
}
section img{
    width: 120px;
    height: 120px;
    border-radius: 4vw;
    padding: 3px;
}
.new{width: 100%;
    display: flex;
    justify-content: center;
}
figure{
    width: 30vw;
    height: 20vw;
   margin: 3vw;
}

figure img {  
    width: 40vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 1vw;
}
figcaption {
    text-align: center;
    font-size: 1.5em;
    font-style:oblique;
    

}
footer{
width: 100%;
display: flex;
justify-content: center;
}
.ss{
    width: 5vw;
    height: 5vw;
    padding: 0 10px;
}